In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("eda_missing_data_dataset1.csv")

In [3]:
df.head()

         date  center_point_geom  longitude  latitude  number_of_strikes
0  2018-08-01  POINT(-81.6 22.6)      -81.6      22.6                 48
1  2018-08-01  POINT(-81.1 22.6)      -81.1      22.6                 32
2  2018-08-01  POINT(-80.9 22.6)      -80.9      22.6                118
3  2018-08-01  POINT(-80.8 22.6)      -80.8      22.6                 69
4  2018-08-01  POINT(-98.4 22.8)      -98.4      22.8                 44

In [6]:
df.shape

(717530, 5)

In [4]:
df_zip = pd.read_csv("eda_missing_data_dataset2.csv")

In [17]:
df_zip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323700 entries, 0 to 323699
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   date               323700 non-null  object
 1   zip_code           323700 non-null  int64
 2   city               323700 non-null  object
 3   state              323700 non-null  object
 4   state_code         323700 non-null  object
 5   center_point_geom  323700 non-null  object
 6   number_of_strikes  323700 non-null  int64
dtypes: int64(2), object(5)
memory usage: 17.3+ MB

In [7]:
df_zip.shape

(323700, 7)

In [12]:
df_joined = df.merge(df_zip, how="left", on=["date", "center_point_geom"] )

In [16]:
df_joined.sample(5)

,date,center_point_geom,longitude,latitude,number_of_strikes_x,zip_code,city,state,state_code,number_of_strikes_y
245326,2018-08-10,POINT(-99 20.3),-99.0,20.3,2,NaN,NaN,NaN,NaN,NaN
676966,2018-08-24,POINT(-105.5 26.8),-105.5,26.8,21,NaN,NaN,NaN,NaN,NaN
610906,2018-08-06,POINT(-82.5 38.8),-82.5,38.8,14,45658.0,Patriot,Ohio,OH,14.0
217007,2018-08-01,POINT(-117.1 38.6),-117.1,38.6,2,NaN,NaN,NaN,NaN,NaN
350127,2018-08-24,POINT(-52.8 42.5),-52.8,42.5,3,NaN,NaN,NaN,NaN,NaN

In [14]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717530 entries, 0 to 717529
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   date                 717530 non-null  object
 1   center_point_geom    717530 non-null  object
 2   longitude            717530 non-null  float64
 3   latitude             717530 non-null  float64
 4   number_of_strikes_x  717530 non-null  int64
 5   zip_code             323700 non-null  float64
 6   city                 323700 non-null  object
 7   state                323700 non-null  object
 8   state_code           323700 non-null  object
 9   number_of_strikes_y  323700 non-null  float64
dtypes: float64(4), int64(1), object(5)
memory usage: 54.7+ MB