In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as ex
import datetime as dt

In [21]:
df_companies = pd.read_csv("Unicorn_Companies.csv")
df_companies.head()

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,4/7/17,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,12/1/12,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,7/3/18,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,1/23/14,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,12/12/11,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [22]:
df_companies.shape

(1074, 10)

In [23]:
df_companies.drop_duplicates().shape

(1074, 10)

###### so there is no duplicates

In [24]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country/Region    1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [25]:
df_companies.isna().sum()
#df_companies.isnull().sum()

Company              0
Valuation            0
Date Joined          0
Industry             0
City                16
Country/Region       0
Continent            0
Year Founded         0
Funding              0
Select Investors     1
dtype: int64

In [26]:
df_companies.describe()

       Year Founded
count   1074.000000
mean    2012.895717
std        5.698573
min     1919.000000
25%     2011.000000
50%     2014.000000
75%     2016.000000
max     2021.000000

In [27]:
df_companies["Date Joined"] = pd.to_datetime(df_companies["Date Joined"])

df_companies["Year Joined"] = df_companies["Date Joined"].dt.year
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   datetime64[ns]
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country/Region    1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
 10  Year Joined       1074 non-null   int32
dtypes: datetime64[ns](1), int32(1), int64(1), object(8)
memory usage: 88.2+ KB

/var/folders/t4/jpr0xd116_x6l353_cy_v6g80000gn/T/ipykernel_22058/2890259218.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_companies["Date Joined"] = pd.to_datetime(df_companies["Date Joined"])

In [28]:
def str_to_num(x: str) -> int:
    return int(x.strip("$B"))

In [29]:
df_companies["valuation_num"] = df_companies["Valuation"].apply(str_to_num)

In [30]:
df_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   datetime64[ns]
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country/Region    1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
 10  Year Joined       1074 non-null   int32
 11  valuation_num     1074 non-null   int64
dtypes: datetime64[ns](1), int32(1), int64(2), object(8)
memory usage: 96.6+ KB

In [31]:
mask = df_companies.isna().any(axis=1)
df_missing_rows = df_companies[mask]
df_missing_rows

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
12,FTX,$32B,2021-07-20,Fintech,NaN,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,32
170,HyalRoute,$4B,2020-05-26,Mobile & telecommunications,NaN,Singapore,Asia,2015,$263M,Kuang-Chi,2020,4
242,Moglix,$3B,2021-05-17,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway",2021,3
251,Trax,$3B,2019-07-22,Artificial intelligence,NaN,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T...",2019,3
325,Amber Group,$3B,2021-06-21,Fintech,NaN,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve...",2021,3
382,Ninja Van,$2B,2021-09-27,"Supply chain, logistics, & delivery",NaN,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic...",2021,2
541,Advance Intelligence Group,$2B,2021-09-23,Artificial intelligence,NaN,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund",2021,2
629,LinkSure Network,$1B,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,$52M,NaN,2015,1
811,Carousell,$1B,2021-09-15,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent...",2021,1
848,Matrixport,$1B,2021-06-01,Fintech,NaN,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS...",2021,1
880,bolttech,$1B,2021-07-01,Fintech,NaN,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti...",2021,1
889,Carro,$1B,2021-06-14,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",2021,1
893,Cider,$1B,2021-09-02,E-commerce & direct-to-consumer,NaN,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital",2021,1
980,NIUM,$1B,2021-07-13,Fintech,NaN,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit...",2021,1
986,ONE,$1B,2021-12-08,Internet software & services,NaN,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm...",2021,1
994,PatSnap,$1B,2021-03-16,Internet software & services,NaN,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner...",2021,1
1061,WeLab,$1B,2017-11-08,Fintech,NaN,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene...",2017,1

In [32]:
count_total = df_companies.size
count_total

12888

In [33]:
count_dropna_rows = df_companies.dropna().size
count_dropna_rows

12684

In [34]:
count_dropna_columns = df_companies.dropna(axis=1).size
count_dropna_columns

10740

In [35]:
print(f"percentage of values removed by dropping row: { (1 - (count_dropna_rows / count_total)) * 100 }")
print(f"percentage of values removed by dropping columns: { (1 - (count_dropna_columns / count_total)) * 100 }")

percentage of values removed by dropping row: 1.582867783985098
percentage of values removed by dropping columns: 16.666666666666664

In [36]:
df_filled = df_missing_rows.fillna(method='backfill')
#for future version df_missing_rows.bfill()
df_filled

/var/folders/t4/jpr0xd116_x6l353_cy_v6g80000gn/T/ipykernel_22058/3476602641.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled = df_missing_rows.fillna(method='backfill')

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
12,FTX,$32B,2021-07-20,Fintech,Shanghai,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,32
170,HyalRoute,$4B,2020-05-26,Mobile & telecommunications,Shanghai,Singapore,Asia,2015,$263M,Kuang-Chi,2020,4
242,Moglix,$3B,2021-05-17,E-commerce & direct-to-consumer,Shanghai,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway",2021,3
251,Trax,$3B,2019-07-22,Artificial intelligence,Shanghai,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T...",2019,3
325,Amber Group,$3B,2021-06-21,Fintech,Shanghai,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve...",2021,3
382,Ninja Van,$2B,2021-09-27,"Supply chain, logistics, & delivery",Shanghai,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic...",2021,2
541,Advance Intelligence Group,$2B,2021-09-23,Artificial intelligence,Shanghai,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund",2021,2
629,LinkSure Network,$1B,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,$52M,"500 Global, Rakuten Ventures, Golden Gate Vent...",2015,1
811,Carousell,$1B,2021-09-15,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent...",2021,1
848,Matrixport,$1B,2021-06-01,Fintech,NaN,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS...",2021,1
880,bolttech,$1B,2021-07-01,Fintech,NaN,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti...",2021,1
889,Carro,$1B,2021-06-14,E-commerce & direct-to-consumer,NaN,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",2021,1
893,Cider,$1B,2021-09-02,E-commerce & direct-to-consumer,NaN,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital",2021,1
980,NIUM,$1B,2021-07-13,Fintech,NaN,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit...",2021,1
986,ONE,$1B,2021-12-08,Internet software & services,NaN,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm...",2021,1
994,PatSnap,$1B,2021-03-16,Internet software & services,NaN,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner...",2021,1
1061,WeLab,$1B,2017-11-08,Fintech,NaN,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene...",2017,1

In [37]:
df_companies_filled = df_companies.bfill()
df_companies_filled.iloc[df_missing_rows.index, :]

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
12,FTX,$32B,2021-07-20,Fintech,Jacksonville,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank",2021,32
170,HyalRoute,$4B,2020-05-26,Mobile & telecommunications,El Segundo,Singapore,Asia,2015,$263M,Kuang-Chi,2020,4
242,Moglix,$3B,2021-05-17,E-commerce & direct-to-consumer,San Francisco,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway",2021,3
251,Trax,$3B,2019-07-22,Artificial intelligence,Amsterdam,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T...",2019,3
325,Amber Group,$3B,2021-06-21,Fintech,San Francisco,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve...",2021,3
382,Ninja Van,$2B,2021-09-27,"Supply chain, logistics, & delivery",San Francisco,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic...",2021,2
541,Advance Intelligence Group,$2B,2021-09-23,Artificial intelligence,Helsinki,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund",2021,2
629,LinkSure Network,$1B,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,$52M,"Sequoia Capital India, The Times Group, GMO Ve...",2015,1
811,Carousell,$1B,2021-09-15,E-commerce & direct-to-consumer,New York,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent...",2021,1
848,Matrixport,$1B,2021-06-01,Fintech,San Francisco,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS...",2021,1
880,bolttech,$1B,2021-07-01,Fintech,Englewood,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti...",2021,1
889,Carro,$1B,2021-06-14,E-commerce & direct-to-consumer,Lincoln,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat...",2021,1
893,Cider,$1B,2021-09-02,E-commerce & direct-to-consumer,Mexico City,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital",2021,1
980,NIUM,$1B,2021-07-13,Fintech,Bengaluru,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit...",2021,1
986,ONE,$1B,2021-12-08,Internet software & services,New York,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm...",2021,1
994,PatSnap,$1B,2021-03-16,Internet software & services,London,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner...",2021,1
1061,WeLab,$1B,2017-11-08,Fintech,Beijing,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene...",2017,1

In [38]:
hardware_mask = (
    (df_companies["City"].isin(["Beijing", "San Francisco", "London"])) &
    (df_companies["Industry"] == "Hardware")
)

In [39]:
df_hardware_mask = df_companies[hardware_mask]
df_hardware_mask

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
36,Bitmain,$12B,2018-07-06,Hardware,Beijing,China,Asia,2015,$765M,"Coatue Management, Sequoia Capital China, IDG ...",2018,12
43,Global Switch,$11B,2016-12-22,Hardware,London,United Kingdom,Europe,1998,$5B,"Aviation Industry Corporation of China, Essenc...",2016,11
147,Chipone,$5B,2021-12-16,Hardware,Beijing,China,Asia,2008,$1B,"China Grand Prosperity Investment, Silk Road H...",2021,5
845,Density,$1B,2021-11-10,Hardware,San Francisco,United States,North America,2014,$217M,"Founders Fund, Upfront Ventures, 01 Advisors",2021,1
923,Geek+,$1B,2018-11-21,Hardware,Beijing,China,Asia,2015,$439M,"Volcanics Ventures, Vertex Ventures China, War...",2018,1
1040,TERMINUS Technology,$1B,2018-10-25,Hardware,Beijing,China,Asia,2015,$623M,"China Everbright Limited, IDG Capital, iFLYTEK",2018,1

In [40]:
ai_mask = (
    (df_companies["City"] == "London") &
    (df_companies["Industry"] == "Hardware")
)

In [41]:
df_ai_mask = df_companies[ai_mask]
df_ai_mask

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
43,Global Switch,$11B,2016-12-22,Hardware,London,United Kingdom,Europe,1998,$5B,"Aviation Industry Corporation of China, Essenc...",2016,11

In [42]:
df_invest = pd.concat([df_hardware_mask, df_ai_mask], axis=0).reset_index(drop=True)
df_invest

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors,Year Joined,valuation_num
0,Bitmain,$12B,2018-07-06,Hardware,Beijing,China,Asia,2015,$765M,"Coatue Management, Sequoia Capital China, IDG ...",2018,12
1,Global Switch,$11B,2016-12-22,Hardware,London,United Kingdom,Europe,1998,$5B,"Aviation Industry Corporation of China, Essenc...",2016,11
2,Chipone,$5B,2021-12-16,Hardware,Beijing,China,Asia,2008,$1B,"China Grand Prosperity Investment, Silk Road H...",2021,5
3,Density,$1B,2021-11-10,Hardware,San Francisco,United States,North America,2014,$217M,"Founders Fund, Upfront Ventures, 01 Advisors",2021,1
4,Geek+,$1B,2018-11-21,Hardware,Beijing,China,Asia,2015,$439M,"Volcanics Ventures, Vertex Ventures China, War...",2018,1
5,TERMINUS Technology,$1B,2018-10-25,Hardware,Beijing,China,Asia,2015,$623M,"China Everbright Limited, IDG Capital, iFLYTEK",2018,1
6,Global Switch,$11B,2016-12-22,Hardware,London,United Kingdom,Europe,1998,$5B,"Aviation Industry Corporation of China, Essenc...",2016,11

In [43]:
national_valuation = df_companies[["Country/Region", "valuation_num"]].groupby(["Country/Region"]).sum().reset_index().rename(columns={"valuation_num": "national_valuation"}).sort_values("national_valuation", ascending=False)
national_valuation

          Country/Region  national_valuation
44         United States                1933
9                  China                 696
19                 India                 196
43        United Kingdom                 195
17               Germany                  72
38                Sweden                  63
1              Australia                  56
16                France                  55
7                 Canada                  49
36           South Korea                  41
22                Israel                  39
6                 Brazil                  37
3                Bahamas                  32
20             Indonesia                  28
34             Singapore                  21
29           Netherlands                  19
18             Hong Kong                  18
41                Turkey                  16
28                Mexico                  16
14               Estonia                  13
15               Finland                  12
21               Ireland                   9
39           Switzerland                   8
24                 Japan                   8
4                Belgium                   8
13               Denmark                   7
2                Austria                   7
10              Colombia                   6
31                Norway                   5
45               Vietnam                   5
25             Lithuania                   5
42  United Arab Emirates                   5
37                 Spain                   4
8                  Chile                   3
32           Philippines                   3
35          South Africa                   3
40              Thailand                   3
0              Argentina                   2
33               Senegal                   2
30               Nigeria                   2
27              Malaysia                   2
26            Luxembourg                   2
5                Bermuda                   2
12        Czech Republic                   1
11               Croatia                   1
23                 Italy                   1